exerciciosProva/farmacia/services/farmacia.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns="http://localhost/exerciciosprova/farmacia/services/farmaciaSoap.class.php" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/exerciciosprova/farmacia/services/farmaciaSoap.class.php">

<types>
<xsd:schema targetNamespace="http://localhost/exerciciosprova/farmacia/services/farmaciaSoap.class.php">

<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:complexType name="dadosSecType">
<xsd:sequence>
	<xsd:element name="username" type="xsd:string"/>
	<xsd:element name="password" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="security" type="tns:dadosSecType"/>
</xsd:schema>
</types>

<message name="security">
	<part name="sec" element="tns:security"/>
</message>

<message name="buscar_farmacias_por_remedioRequest">
<part name="idremedio" type="xsi:int"/>
</message>
<message name="buscar_farmacias_por_remedioResponse">
<part name="retorno" type="xsi:string"/>
</message>

<portType name="portType1">

	<operation name="buscar_farmacias_por_remedio">
	
		<documentation>Busca as farmácias com base no remédio selecionado pelo usuário</documentation>
		
		<input message="buscar_farmacias_por_remedioRequest"/>
		
		<output message="buscar_farmacias_por_remedioResponse"/>
	</operation>

</portType>

<binding name="binding1" type="tns:portType1">

	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	
	<operation name="buscar_farmacias_por_remedio">
		<soap:operation soapAction="http://localhost/exerciciosprova/farmacia/services/farmaciaSoap.class.php/buscar_farmacias_por_remedio" style="rpc"/>
		<input>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="farmacia"/>
			
			<soap:header use="literal" message="tns:security" namespace="farmacia" part="sec"/>
		</input>
		
		<output>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="farmacia"/>
		</output>
		
	</operation>
	
</binding>

<service name="farmaciaSoap">
	<port name="tns:portType1" binding="tns:binding1">
		<soap:address location="http://localhost/exerciciosprova/farmacia/services/farmaciaSoap.class.php"/>
	</port>
</service>
</definitions>
